@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}

#robot{
    width: 20vw;
    align-items: center;
}
h1{
    color: antiquewhite;
    font-family: "Fascinate Inline", system-ui;
    font-size: 30px;
}
#name{
    color: rgb(219, 35, 158);
    font-size: 40px;
}
#va{
    color: rgb(44, 206, 212);
    font-size: 40px;
}
#voice{
    width: 150px;
    display: none;
}
#button{
    width: 30%;
    background: linear-gradient(to right, rgb(219, 35, 158) , rgb(44, 206, 212));
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    border-radius: 15px;
    color: white;
    box-shadow: 2px 2px 10px rgb(219, 35, 158) , 2px 2px 10px rgb(44, 206, 212);
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}

#button:hover{
    box-shadow: 2px 2px 20px rgb(219, 35, 158) , 2px 2px 20px rgb(44, 206, 212);
    letter-spacing: 3px;
}